@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
*{
    margin:0;
    padding: 0;
    outline: 0;

}
label.input{
    margin-left: 200px;
    margin-top: 50px;
    color: #000;
    font-weight: bold;
    
}
.h1{
    margin-left: 200px;
    color: #000;
    font-weight: bold;
}
.filter{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgb(255,192,220);
    background: linear-gradient(90deg, rgba(255,192,220,1) 14%, rgba(211,196,255,1) 57%, rgba(174,236,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e94ca1",endColorstr="#c74ae9",GradientType=1);
    opacity: .7;
}
table{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%; 
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;

}
td , th{
    padding: 10px 20px;
    text-align: center;


}
th{
    background-color: #f06292;
    color: #ffffff;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;

}
tr{
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
    background-color: #eeeeee;
}
label.buscar{
    margin-left: 264px;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
    background: rgb(255,238,246);
    background: linear-gradient(90deg, rgba(255,238,246,1) 14%, rgba(241,236,255,1) 57%, rgba(216,246,255,1) 100%);
}
.button {
    margin-left: 200px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    background-color: #d1c4e9;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
.button1 {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    background-color: #d1c4e9;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
.button2 {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    background-color: #ef9a9a;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
nav{
    background: #320061;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
    position: relative;
    z-index: 1;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    position: relative;
    z-index: 1;

}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
a.active,a:hover{
    background:  #f06292;
    transition: .5s;
}
/*.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}*/
section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
